
@font-face {
    font-family: 'Reddit';
    src: url('../fonts/RedditMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard24-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Zen';
    src: url('../fonts/ZenDots-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Audio';
    src: url('../fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}


:root{
    font-family:'Reddit';
    letter-spacing:.03em;
    

    --white: #edecef;
    --black: #000;
    --green: #00ad62;
    --gray1: #0A0520;
    --gray2: #242630;
    --gray3: #20373F;
    --green1: #00D4AC;
    --yellow: #E8FD5F;
    --darkpurp: #24174D;
    --purp: #8E70FA;
    --teal: #00D4F5;

}   

html{
    background:var(--gray2);
    cursor:url('../media/crosshair.png'),auto;
}
body{
    /* background:var(--green); */
    height:100%;
    overflow-x: hidden;
    overflow-y: visible;
}


nav{
    position:sticky;
    top:3rem;
    z-index:50;
}
nav ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly
}
nav ul li{
    font-family:"Reddit";
    color:var(--white);
    font-weight:300;
}
nav ul li:hover{
    color:var(--white);
    text-decoration: underline;
}
button.filter-toggle{
    /* background: var(--gray1); */
    color: var(--white);

    text-transform: uppercase;
    letter-spacing: 0.08em;

    cursor:url('../media/cursor.png'),auto;
}
button.filter-toggle:focus{
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

/* base state of toggles */
section.filter-switch .on,
section.filter-switch .off{
    background: var(--gray1);
    color:var(--white);
  /* opacity: 0.7; */
  padding: 0.15rem 0.45rem;
}


/* ON state highlight */
button.filter-toggle[aria-pressed="true"] .filter-switch .on{
    background: var(--white);
    color: black;
    opacity: 1;
}
/* OFF state highlight */
button.filter-toggle[aria-pressed="false"] .filter-switch .off{
  
    background: var(--white);
    color: black;
    opacity: 1;
}

section.filter-switch{
    border: 1px solid var(--white);

}


/* background img container */
/* .bg{
    background:var(--green);
    position:fixed;
    width:100vw;
    height: 100vh;
    inset:0;
    overflow:hidden;
    z-index:-1;
} */

/* background dark overlay */
/* .bg::before{
    content:"";
    position:absolute;
    inset:0;
    background: rgba(0, 0, 0, .5);
    background-blend-mode: normal;
    z-index:2;
    pointer-events:none;
} */

/* bg img itself */
/* .bg img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
    z-index:1;
    
} */

hgroup{
    padding-inline:2rem;
    padding-block:5rem;
    position:relative;
    /* background:var(--black); */
    z-index:5;
}


h1{
    font-family: 'zen';
    position:relative;
    text-transform:uppercase;
    text-align:center;
    font-size: 3rem;
    letter-spacing:.02em;
    line-height:3rem;
    margin-block-end:1.5rem;



    @media (780px <= width <= 1280px){
        font-size: 3.5rem;
    }
    @media (width > 1280px){
        font-size: 4rem;
    }

    

}
#channel-title{
    background-image: linear-gradient(to bottom, var(--green1), var(--yellow));
    color: transparent;
    background-clip: text;
}

h2{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    margin-block: 2.5rem .7rem;
    font-weight:500;
    font-size:1rem;

    @media (780px <= width <= 1280px){
        font-size: 1.25rem;
    }
    @media (width > 1280px){
        font-size: 1.5rem;
    }

}
.content h3{
    
}
h3.link-title{
    font-size:.7rem;

    @media (360px <= width <= 780px){
        font-size: 1rem;
    }
    @media (780px < width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
hgroup p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    letter-spacing:.03em;
    line-height:1.25rem;
    margin-inline:2rem;
    text-wrap:pretty;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
        line-height:1.35rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
        line-height:1.55rem;
    }


}
.content p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    
    line-height:1.25rem;
    margin-block-end:2rem;

    font-size:.8rem;

    @media (780px <= width <= 1280px){
        font-size: 1rem;
    }
    @media (width > 1280px){
        font-size: 1.2rem;
    }

}


#channel-blocks{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin-block:3rem;

    @media (780px <= width <= 1280px){
        font-size: 1rem;
        grid-template-columns:repeat(3,1fr);

    }
    @media (width > 1280px){
        font-size: 1.2rem;
        grid-template-columns:repeat(4,1fr);

    }

}



main .content{
    /* display:block; */
    /* margin-inline:auto; */
    width:5rem;
    z-index:5;
    margin-block:3rem;

    /* padding:1rem; */
    /* background:rgba(0,0,0,0.7); */
    /* border:solid var(--black) 2px; */
    /* filter:blur(5px); */
    opacity:1;
}


.content img{
    filter: blur(2px) contrast(140%);
}

.content img:hover {
    filter: none;
    cursor:url('../media/cursor.png'),auto;

}
/* video content how-to? */
/* main video{
    display:block;
    margin-inline:auto;
    width:70%;
    z-index:5;
    margin-block:3rem;
    padding:1rem;
    background:rgba(0,0,0,0.25);
    border:solid var(--black) 2px;
    border-radius: 5px;
} */
main img{
    display:block;
    margin-inline:auto;
    /* width:80%; */
    z-index:5;
    /* margin-block-end:2rem; */

    
}
iframe{
    display:block;
    margin-inline:auto;
    align-self:center;
    width:80%;
    height:auto;
    margin-block:1rem;
}



.modal {
    position:fixed;
    inset:0;
    /* min-width: 800px; */
    width: 90vw;
    max-height:85vh;
    color: white;

    /* border: 5px solid transparent;
    border-image: linear-gradient(to bottom, var(--purp), var(--teal)) 1;
    border-radius: 20px; */

    border-radius: 12px;

    border: 4px solid transparent;

    background:
        linear-gradient(var(--darkpurp), var(--black)) padding-box,
        linear-gradient(to bottom, var(--purp), var(--teal)) border-box;


    mix-blend-mode: normal;
    overflow-y:auto;
    margin:auto;
    text-align: center;
    align-items: center;
    


}
#block-modal{
    position:relative;
}
.modal::backdrop{
    backdrop-filter:blur(3px);
}
.modal button{
    float:right;
    padding-block:1rem;

    padding-inline:1rem;
}
#modal-close{
    /* padding-block:1rem; */
    position: absolute;
    top: .5rem;
    right: 1rem;

    background: none;
    
    color: var(--white);

    font-size: 1.25rem;

    cursor:url('../media/cursor.png'),auto;
    

}
.modal article{
    padding:2rem;
    display:flex;
    flex-direction:column;
}
.modal header{
        display:flex;
    flex-direction:column;


}
.modal h3{
    font-family:'Reddit';
    font-size:1rem;
    font-weight:300;
    text-align:center;
    color:var(--white);
    margin-block: 1.5rem;

    @media (780px <= width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
.modal .modal-kind{
    display:block;
    margin-inline:auto;
    margin-block-end:1rem;
}
.modal a{
    display:block;
    margin-inline:auto;
    margin-block-end:1rem;
    cursor:url('../media/cursor.png'),auto;

}
.modal-kind p{
    font-family:'Zen';
    background-image: linear-gradient(to bottom, var(--green1), var(--yellow));
    color: transparent;
    background-clip: text;
}
.modal figure {
  margin: 1rem auto;
  width: 100%;
  max-width: 900px;
  height: auto;        /* important */
  min-height: 0;       /* important if flex is involved */

}


.modal img,
.modal video {
  display: block;
  width: 100%;
  height: auto;
}

.modal .audio-wrap{
    width: 80%;
    margin: 1rem auto 0;
    padding: 0.75rem;

    border: 1px solid var(--white);
    background: rgba(255,255,255,0.06);

}
.modal .audio-wrap audio{
  display: block;
  width: 80%;
  margin: 1rem auto 0;

  filter: none;     /* important */
  opacity: 1;
  background: transparent;
}


.modal::-webkit-scrollbar {
    width: 5px;
}

.modal::-webkit-scrollbar-track {
    background: transparent;
    /* border-left: 1px solid var(--purp); */
}

.modal::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        var(--purp),
        var(--teal)
    );
}





.content audio{
    display:block;
    width:100%;
    height: 40px;
    margin: 1rem auto;
    padding: 0.5rem;
    background: rgba(255,255,255,0.15);
    border-radius: 6px;
    filter: invert(1);
    color-scheme: light;
}

main .txt{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:400;
    font-size:1rem;
    line-height:1.25rem;
    /* margin-block-end:2rem; */

}
main .desc-txt{
    font-family:'Reddit';
    text-align:center;
    font-style: italic;
    color:var(--white);
    font-weight:200;
    font-size:1rem;
    line-height:1.25rem;
    /* margin-block-end:2rem; */

}

.link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end:1.5rem;
}
i.fa-link{
    color:var(--white);
}
.placeholder{
    color:var(--white);
}

.thumb-placeholder{
    width: 100%;
    aspect-ratio: 1 / 1;       /* keep tiles square */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    /* background: linear-gradient(to bottom, var(--green1), var(--yellow)); */
    background:var(--gray1);
    filter:grayscale(50%);
    filter:blur(5px);

}
.thumb-placeholder:hover{
    filter:none;
}
.thumb-placeholder p{
    font-family:'Reddit';
    font-weight:500;
    margin: 0;
    max-width: 100%;
    font-size:.75rem;
    line-height: 1rem;
    

    /* breaks super_long_strings.mp3 */
    overflow-wrap:break-word;   
}


footer p{
    color:var(--white);
    text-align:center;
    margin-block:5rem 2rem;
    font-weight:300;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
    }
}

