
@font-face {
    font-family: 'Reddit';
    src: url('../fonts/RedditMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard24-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Zen';
    src: url('../fonts/ZenDots-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Audio';
    src: url('../fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}


:root{
    font-family:'Reddit';
    letter-spacing:.03em;
    

    --white: #edecef;
    --black: #000;

    --gray1: #0A0520;
    --gray2: #242630;
    --gray3: #20373F;
    --gray4: #3f4f54;
    --radial1: radial-gradient( var(--gray3), var(--gray2), var(--gray1));


    --green1: #00D4AC;
    --yellow: #E8FD5F;
    --linear1: linear-gradient(to bottom, var(--green1), var(--yellow));

    --darkpurp: #24174D;
    --purp: #8E70FA;
    --teal: #00D4F5;
    --linear2:linear-gradient(to bottom, var(--purp), var(--teal));

    

    --star-small: 2px;
    --star-medium: 4px;
    --star-large: 6px;

}   

html{
    background:var(--radial1);

    cursor:url('../media/crosshair.png'),auto;
}
body{
    height:100%;
    overflow-x: hidden;
    overflow-y: visible;

}

/*
Starfield background (Parallax Star Background) adapted from:
https://codepen.io/sarazond/pen/LYGbwj

Original implementation is by Saransh Sinha (sarazond on CodePen) uses Sass functions and box-shadow to generate randomly positioned stars and animate them vertically to simulate parallax motion. 

This version has been rewritten in pure CSS using layered radial-gradients instead of Sass-generated
box-shadows. 
Each radial-gradient is meant to represent a single star rendered as a small circular gradient with a solid center and transparent edges. Star sizes are determined using CSS root variables
to create size variations.
The percentage coordinates are used to position stars relative to the actual viewport.

The animation takes use of vertical transforms to showcase the movement of stars through space.
*/

.starsbg{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:200vh;

    pointer-events:none;

    z-index:-1;

    background-image:
        /* radial-gradient creates circles that fade out towards edges */ 
        /* ()px ()px is the size of the star */
        /* at ()% ()% is position of the star */
        /* white, transparent is color of star to faded out edges */

        radial-gradient(
            var(--star-medium) var(--star-medium) 
            at 15% 25%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-large) var(--star-large) 
            at 10% 20%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-medium) var(--star-medium)
            at 30% 80%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-small) var(--star-small)
            at 35% 95%,
            white, transparent
            ),
        radial-gradient(
            var(--star-small) var(--star-small)
            at 50% 40%,
            white, transparent
            ),
        radial-gradient(
            var(--star-medium) var(--star-medium) 
            at 55% 55%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-large) var(--star-large)
            at 70% 10%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-small) var(--star-small)
            at 75% 35%,
            white, transparent
            ),
        radial-gradient(
            var(--star-medium) var(--star-medium)
            at 90% 60%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-small) var(--star-small)
            at 20% 50%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-small) var(--star-small)
            at 25% 45%,
            white, transparent
            ),
        radial-gradient(
            var(--star-medium) var(--star-medium) 
            at 80% 90%, 
            white, transparent
            ),
        radial-gradient(
            var(--star-small) var(--star-small) 
            at 85% 95%, 
            white, transparent
            );
        
    /* to continuously run, animation set on infinite */
    animation: starSpace 10s linear infinite;

}

@keyframes starSpace {
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-50%);
    }
}


nav{
    position:sticky;
    top:0rem;
    padding-block:1rem;
    z-index:50;
    
    background:var(--gray1), .5;
    backdrop-filter:blur(10px);
}
nav ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly
}
nav ul li{
    font-family:"Zen";
    color:var(--white);
    font-size:.7rem;
    font-weight:300;
}
nav ul li:hover{
    color:var(--white);
    text-decoration: underline;
}
button.filter-toggle{
    /* background: var(--gray1); */
    
    width:fit-content;
    letter-spacing: 0.08em;
    padding:.5rem;
    cursor:url('../media/cursor.png'),auto;
    
    
}
button.filter-toggle:focus{
    outline: 1px solid var(--linear1);
    outline-offset: 2px;

    h4.filter-label{
    color: var(--green1);
    }
}

section.filter-switch{
    border: 1.5px solid var(--yellow);
    display:flex;
    flex-direction: row;
    border-radius:7px;

}

/* base state of toggles */
section.filter-switch .on,
section.filter-switch .off{
    background: transparent;
    color:var(--white);
    /* opacity: 0.7; */
    padding:.25rem .5rem;

}


/* ON state highlight */
button.filter-toggle[aria-pressed="true"] .filter-switch .on{
    background: var(--linear1);
    color: black;
    opacity: 1;
    border-radius:5px 0 0 5px;
}
/* OFF state highlight */
button.filter-toggle[aria-pressed="false"] .filter-switch .off{
  
    background: var(--linear1);
    color: black;
    opacity: 1;
    border-radius:0 5px 5px 0;
}







hgroup{
    padding-inline:2rem;
    padding-block:5rem;
    position:relative;
    margin-inline:auto;
    
    z-index:5;
     
}
.hdesc{
    border-radius: 12px;
    margin-inline:auto;
    width:75vw;
    border: 4px solid transparent;

    background:
        linear-gradient(var(--darkpurp), var(--black)) padding-box,
        linear-gradient(to bottom, var(--purp), var(--teal)) border-box;


    mix-blend-mode: normal;
    overflow-y:auto;
    padding-block:1rem 3rem;
    text-align: center;
    align-items: center;

    @media (780px <= width <= 1280px){
        width: 50vw;
    }
    @media (width > 1280px){
        width: 60vw;
    }
}


h1{
    font-family: 'zen';
    position:relative;
    text-transform:uppercase;
    text-align:center;
    font-size: 3rem;
    letter-spacing:.02em;
    line-height:3rem;
    margin-block:.5rem 3rem;
    margin-inline:3rem;



    @media (780px <= width <= 1280px){
        font-size: 4rem;
        line-height:3.75rem;
        margin-inline:4rem;
    }
    @media (width > 1280px){
        font-size: 5rem;
        line-height:4.5rem;
        margin-inline:5rem;
    }

    

}
#channel-title{
    background-image: linear-gradient(to bottom, var(--green1), var(--yellow));
    color: transparent;
    background-clip: text;
}

h2{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    margin-block: 2.5rem .7rem;
    font-weight:500;
    font-size:1rem;

    @media (780px <= width <= 1280px){
        font-size: 1.25rem;
    }
    @media (width > 1280px){
        font-size: 1.5rem;
    }

}

h3.link-title{
    font-size:.7rem;

    @media (360px <= width <= 780px){
        font-size: 1rem;
    }
    @media (780px < width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
h4.filter-label{
    color: var(--gray4);
    font-weight:500;
    font-size:1.2rem;
    text-align:center;
    text-transform: uppercase;
    margin-block-end:.3rem;

}

hgroup p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    letter-spacing:.03em;
    line-height:1.25rem;
    margin-inline:2rem;
    text-wrap:pretty;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
        line-height:1.35rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
        line-height:1.55rem;
    }


}
.content p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    
    line-height:1.25rem;
    margin-block-end:2rem;

    font-size:.8rem;

    @media (780px <= width <= 1280px){
        font-size: 1rem;
    }
    @media (width > 1280px){
        font-size: 1.2rem;
    }

}


#channel-blocks{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin-block:3rem;

    @media (780px <= width <= 1280px){
        font-size: 1rem;
        grid-template-columns:repeat(3,1fr);

    }
    @media (width > 1280px){
        font-size: 1.2rem;
        grid-template-columns:repeat(4,1fr);

    }

}



main .content{
    /* display:block; */
    /* margin-inline:auto; */
    width:5rem;
    z-index:5;
    margin-block:3rem;

    /* padding:1rem; */
    /* background:rgba(0,0,0,0.7); */
    /* border:solid var(--black) 2px; */
    /* filter:blur(5px); */
    opacity:1;
}


.content img{
    filter: blur(2px) contrast(140%);
}

.content img:hover {
    filter: none;
    cursor:url('../media/cursor.png'),auto;

}

main img{
    display:block;
    margin-inline:auto;
    /* width:80%; */
    z-index:5;
    /* margin-block-end:2rem; */

    
}
iframe{
    display:block;
    margin-inline:auto;
    align-self:center;
    width:80%;
    height:auto;
    margin-block:1rem;
}



.modal {
    position:fixed;
    inset:0;
    /* min-width: 800px; */
    width: 90vw;
    max-height:85vh;
    color: white;

    /* border: 5px solid transparent;
    border-image: linear-gradient(to bottom, var(--purp), var(--teal)) 1;
    border-radius: 20px; */

    border-radius: 12px;

    border: 4px solid transparent;

    background:
        linear-gradient(var(--darkpurp), var(--black)) padding-box,
        linear-gradient(to bottom, var(--purp), var(--teal)) border-box;


    mix-blend-mode: normal;
    overflow-y:auto;
    margin:auto;
    text-align: center;
    align-items: center;
    


}
#block-modal{
    position:fixed;
    height:fit-content;
    width:70vw;
    z-index:7;
}
.modal::backdrop{
    
    backdrop-filter:blur(3px);
}
.modal button{
    float:right;
    padding-block:1rem;

    padding-inline:1rem;
}

#modal-close{
    /* padding-block:1rem; */
    position: absolute;
    top: .5rem;
    right: 1rem;

    background: none;
    
    color: var(--white);

    font-size: 1.25rem;

    cursor:url('../media/cursor.png'),auto;
    

}
.modal article{
    padding:2rem;
    display:flex;
    flex-direction:column;
}
.modal header{
        display:flex;
    flex-direction:column;


}
.modal h3{
    font-family:'Reddit';
    font-size:1rem;
    font-weight:300;
    text-align:center;
    color:var(--white);
    margin-block: 1.5rem;

    @media (780px <= width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
.modal .modal-kind{
    display:block;
    margin-inline:auto;
    margin-block-end:1rem;
}
.modal a{
    display:block;
    margin-inline:auto;
    margin-block-end:1rem;
    cursor:url('../media/cursor.png'),auto;

}
.modal-body{
    margin:2rem 1rem;
}
.modal-kind p{
    font-family:'Zen';
    background-image: linear-gradient(to bottom, var(--green1), var(--yellow));
    color: transparent;
    background-clip: text;
}
.modal figure {
  margin: 1rem auto;
  width: 100%;
  max-width: 900px;
  height: auto;        /* important */
  min-height: 0;       /* important if flex is involved */

}

.modal img,
.modal video {
  display: block;
  width: 100%;
  height: auto;
}

.modal .audio-wrap{
    width: 80%;
    margin: 1rem auto 0;
    padding: 0.75rem;
    border: 1px solid var(--white);
    /* background: rgba(255,255,255,0.06); */
    z-index:6;

}
.modal .audio-wrap audio{
    all:revert;
    display: block;
    width: 100%;
    margin: 1rem auto ;
    opacity: 1;
    z-index:7;
    pointer-events:auto;
    -webkit-appearance: auto;
    appearance: auto;
}



.modal::-webkit-scrollbar {
    width: 5px;
}

.modal::-webkit-scrollbar-track {
    background: transparent;
    /* border-left: 1px solid var(--purp); */
}

.modal::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        var(--purp),
        var(--teal)
    );
}







main .txt{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:400;
    font-size:1rem;
    line-height:1.25rem;
    /* margin-block-end:2rem; */

}
main .desc-txt{
    font-family:'Reddit';
    text-align:center;
    font-style: italic;
    color:var(--white);
    font-weight:200;
    font-size:1rem;
    line-height:1.25rem;
    /* margin-block-end:2rem; */

}

.link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end:1.5rem;
}
i.fa-link{
    color:var(--white);
}
.placeholder{
    color:var(--white);
}

.thumb-placeholder{
    width: 100%;
    /* keep tiles square */
    aspect-ratio: 1 / 1;       
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    /* background: linear-gradient(to bottom, var(--green1), var(--yellow)); */
    background:var(--gray1);
    filter:grayscale(50%);
    filter:blur(5px);

}
.thumb-placeholder:hover{
    filter:none;
}
.thumb-placeholder p{
    font-family:'Reddit';
    font-weight:500;
    margin: 0;
    max-width: 100%;
    font-size:.75rem;
    line-height: 1rem;
    

    /* breaks super_long_strings.mp3 */
    overflow-wrap:break-word;   
}


footer p{
    color:var(--white);
    text-align:center;
    margin-block:5rem 2rem;
    font-weight:300;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
    }
}

