
@font-face {
    font-family: 'Reddit';
    src: url('../fonts/RedditMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard24-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Zen';
    src: url('../fonts/ZenDots-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}
@font-face {
    font-family: 'Audio';
    src: url('../fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}


:root{
    font-family:'Reddit';
    letter-spacing:.03em;
    

    --white: #edecef;
    --black: #000;
    --green: #00ad62;
    --gray1: #0A0520;
    --gray2: #242630;
    --gray3: #20373F;
    --green1: #00D4AC;
    --yellow: #E8FD5F;

}   

html{
    background:var(--gray2);
    cursor:url('../media/crosshair.png'),auto;
}
body{
    /* background:var(--green); */
    height:100%;
    overflow-x: hidden;
    overflow-y: visible;
}


nav{
    position:sticky;
    top:3rem;
    z-index:6;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly
}
nav ul li{
    font-family:"Reddit";
    color:var(--white);
    font-weight:300;
}
nav ul li:hover{
    color:var(--white);
    text-decoration: underline;
}


/* background img container */
/* .bg{
    background:var(--green);
    position:fixed;
    width:100vw;
    height: 100vh;
    inset:0;
    overflow:hidden;
    z-index:-1;
} */

/* background dark overlay */
/* .bg::before{
    content:"";
    position:absolute;
    inset:0;
    background: rgba(0, 0, 0, .5);
    background-blend-mode: normal;
    z-index:2;
    pointer-events:none;
} */

/* bg img itself */
/* .bg img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
    z-index:1;
    
} */

hgroup{
    padding-inline:2rem;
    padding-block:5rem;
    position:relative;
    /* background:var(--black); */
    z-index:5;
}


h1{
    font-family: 'zen';
    position:relative;
    /* text-transform:lowercase; */
    text-align:center;
    font-size: 3rem;
    letter-spacing:.02em;
    line-height:3rem;
    margin-block-end:1.5rem;


    @media (780px <= width <= 1280px){
        font-size: 3.5rem;
    }
    @media (width > 1280px){
        font-size: 4rem;
    }

    

}
#channel-title{
    background-image: linear-gradient(to bottom, var(--green1), var(--yellow));
    color: transparent;
    background-clip: text;
}

h2{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    margin-block: 2.5rem .7rem;
    font-weight:500;
    font-size:1rem;

    @media (780px <= width <= 1280px){
        font-size: 1.25rem;
    }
    @media (width > 1280px){
        font-size: 1.5rem;
    }

}
.content h3{
    font-family:'Reddit';
    font-size:1rem;
    font-weight:400;
    text-align:center;
    color:var(--white);
    margin-block: 1.5rem;

    @media (780px <= width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
h3.link-title{
    font-size:.7rem;

    @media (360px <= width <= 780px){
        font-size: 1rem;
    }
    @media (780px < width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
hgroup p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    letter-spacing:.03em;
    line-height:1.25rem;
    margin-inline:2rem;
    text-wrap:pretty;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
        line-height:1.35rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
        line-height:1.55rem;
    }


}
.content p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    
    line-height:1.25rem;
    margin-block-end:2rem;

    font-size:.8rem;

    @media (780px <= width <= 1280px){
        font-size: 1rem;
    }
    @media (width > 1280px){
        font-size: 1.2rem;
    }

}


#channel-blocks{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    margin-block:3rem;

}



main .content{
    /* display:block; */
    /* margin-inline:auto; */
    width:5rem;
    z-index:5;
    margin-block:3rem;

    /* padding:1rem; */
    /* background:rgba(0,0,0,0.7); */
    /* border:solid var(--black) 2px; */
    /* filter:blur(5px); */
    opacity:1;
}


.content img{
    filter: blur(2px) contrast(140%);
}

.content img:hover {
    filter: none;
    cursor:url('../media/cursor.png'),auto;

}
/* video content how-to? */
/* main video{
    display:block;
    margin-inline:auto;
    width:70%;
    z-index:5;
    margin-block:3rem;
    padding:1rem;
    background:rgba(0,0,0,0.25);
    border:solid var(--black) 2px;
    border-radius: 5px;
} */
main img{
    display:block;
    margin-inline:auto;
    /* width:80%; */
    z-index:5;
    /* margin-block-end:2rem; */

    
}
iframe{
    display:block;
    margin-inline:auto;
    align-self:center;
    width:80%;
    height:auto;
    margin-block:1rem;
}
.modal {
    position:fixed;
    inset:0;
    /* min-width: 800px; */
    width: 90vw;
    max-height:85vh;
    background: var(--black);
    color: white;
    mix-blend-mode: normal;
    overflow-y:auto;
    margin:auto;
}
.modal::backdrop{
    backdrop-filter:blur(3px);
}
.content audio{
    display:block;
    width:100%;
    height: 40px;
    margin: 1rem auto;
    padding: 0.5rem;
    background: rgba(255,255,255,0.15);
    border-radius: 6px;
    filter: invert(1);
    color-scheme: light;
}

main .txt{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:400;
    font-size:1rem;
    line-height:1.25rem;
    /* margin-block-end:2rem; */

}
main .desc-txt{
    font-family:'Reddit';
    text-align:center;
    font-style: italic;
    color:var(--white);
    font-weight:200;
    font-size:1rem;
    line-height:1.25rem;
    /* margin-block-end:2rem; */

}

.link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end:1.5rem;
}
i.fa-link{
    color:var(--white);
}
.placeholder{
    color:var(--white);
}

.thumb-placeholder{
  width: 100%;
  aspect-ratio: 1 / 1;       /* keep tiles square */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}
.thumb-placeholder p{
  margin: 0;
  max-width: 100%;

/* breaks super_long_strings.mp3 */
  overflow-wrap: anywhere;   
  word-break: break-word;
}


footer p{
    color:var(--white);
    text-align:center;
    margin-block:5rem 2rem;
    font-weight:300;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
    }
}

