
@font-face {
    font-family: 'Reddit';
    src: url('../fonts/RedditMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard24-Regular.ttf') format('truetype');
    font-weight: 400; /* or normal */
    font-style: normal;
}


:root{
    font-family:'Reddit';
    letter-spacing:.03em;
    

    --white: #edecef;
    --black: #000;

}   

/* background img container */
.bg{
    position:fixed;
    width:100vw;
    height: 100vh;
    inset:0;
    overflow:hidden;
    z-index:-1;
}

/* background dark overlay */
.bg::before{
    content:"";
    position:absolute;
    inset:0;
    background: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    z-index:2;
    pointer-events:none;
}

/* bg img itself */
.bg img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
    z-index:1;
    
}

hgroup{
    margin-inline:2rem;
    margin-block:5rem;
    position:relative;

    z-index:5;
}
h1{
    font-family: 'Jacquard';
    position:relative;
    /* text-transform:lowercase; */
    text-align:center;
    font-size: 3rem;
    letter-spacing:.02em;
    line-height:2.5rem;
    color:var(--white);
    margin-block-end:1.5rem;


    @media (780px <= width <= 1280px){
        font-size: 3.5rem;
    }
    @media (width > 1280px){
        font-size: 4rem;
    }

    

}
h2{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    margin-block: 2.5rem .7rem;
    font-weight:500;
    font-size:1rem;

    @media (780px <= width <= 1280px){
        font-size: 1.25rem;
    }
    @media (width > 1280px){
        font-size: 1.5rem;
    }

}
.content h3{
    font-family:'Reddit';
    font-size:1rem;
    font-weight:200;
    text-align:center;
    color:var(--white);
    margin-block: 1.5rem;

    @media (780px <= width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
h3.link-title{
    font-size:.7rem;

    @media (360px <= width <= 780px){
        font-size: 1rem;
    }
    @media (780px < width <= 1280px){
        font-size: 1.6rem;
    }
    @media (width > 1280px){
        font-size: 1.7rem;
    }
}
hgroup p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:300;
    letter-spacing:.03em;
    line-height:1.25rem;
    margin-inline:2rem;
    text-wrap:pretty;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
    }


}
.content p{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:400;
    font-size:1rem;
    line-height:1.25rem;
    margin-block-end:2rem;

}

nav{
    position:sticky;
    top:25;
    z-index:6;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly
}
nav ul li{
    font-family:"Reddit";
    color:var(--white);
    font-weight:300;
}
nav ul li:hover{
    color:var(--white);
    text-decoration: underline;
}

main .content{
    display:block;
    margin-inline:auto;
    width:70%;
    z-index:5;
    margin-block:3rem;
    padding:1rem;
    background:rgba(0,0,0,0.5);
    border:solid var(--black) 2px;
    border-radius: 5px;
    opacity:.75;
}
main .content:hover{
    opacity:1;
}
/* video content how-to? */
/* main video{
    display:block;
    margin-inline:auto;
    width:70%;
    z-index:5;
    margin-block:3rem;
    padding:1rem;
    background:rgba(0,0,0,0.25);
    border:solid var(--black) 2px;
    border-radius: 5px;
} */
main img{
    display:block;
    margin-inline:auto;
    width:80%;
    z-index:5;
    margin-block-end:2rem;

    
}
iframe{
    display:block;
    margin-inline:auto;
    align-self:center;
    width:80%;
    margin-block:1rem;
}
audio{
    display:block;
    margin-inline:auto;
    align-self:center;
    width:80%;
    margin-block:1rem;
}

main .txt{
    font-family:'Reddit';
    text-align:center;
    color:var(--white);
    font-weight:400;
    font-size:1rem;
    line-height:1.25rem;
    margin-block-end:2rem;

}
main .desc-txt{
    font-family:'Reddit';
    text-align:center;
    font-style: italic;
    color:var(--white);
    font-weight:200;
    font-size:1rem;
    line-height:1.25rem;
    margin-block-end:2rem;

}

.link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end:1.5rem;
}
i.fa-link{
    color:var(--white);
}


footer p{
    color:var(--white);
    text-align:center;
    margin-block:5rem 2rem;
    font-weight:300;

    font-size:.9rem;

    @media (780px <= width <= 1280px){
        font-size: 1.1rem;
    }
    @media (width > 1280px){
        font-size: 1.4rem;
    }
}